.one-half {
    width: 48% !important;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.table {
    display: block;
    border: 0 none;
    box-sizing: border-box;
    outline: 0 none;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    clear: both;
}
.table-cell {
    display: block;
    float: left;
    width: 98%;
    vertical-align: top;
    text-align: left;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

form {
    background: lightgrey;
    border: solid;
}

.button {
    alignment: right;
    font-size: medium;
}

.panel {
    background: #eeeeee;
    text-indent: 0.5%;
}

.horizontal-divider {
    display: block;
    border-bottom: thin;
    border-bottom-style: solid;
    clear: both;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input:required + label::before {
    position: absolute;
    left: 300%;
    content: "★";
    color: red;
}

input:required:valid + label::before {
    content: "✔";
    color: green;
}