@(districts: List[String])

<!DOCTYPE html>

<html>
    <head>
        <title>slick-spatial Demo</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <script>
        function fillLatLng(lat, lng) {
            document.getElementById("lat").value = lat
            document.getElementById("lng").value = lng
        }
    </script>
    <body>
        <h1>slick-spatial Demo</h1>

        <h2>find-by-coordinate</h2>
        <form action="find-by-coordinates">
            Lat: <input id="lat" type="text" name="lat" />
            Lng: <input id="lng" type="text" name="lng" />
            <button type="submit">Finde</button>
        </form>
        <p><a href="#" onclick="fillLatLng(52.49439,13.39873)">Blücherstraße 22</a></p>
        <p><a href="#" onclick="fillLatLng(52.44627,13.31659)">Marschnerstraße 12</a></p>
        <p><a href="#" onclick="fillLatLng(52.4896958,13.4262532)">Hobrechtstraße 64</a></p>

        <h2>Alle Bezirke</h2>
        <ul>
            @districts.map { district =>
                <li>@district</li>
            }
        </ul>
    </body>
</html>
